DB_HOST=localhost
DB_PORT=5431
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=case_task
PORT=3001
DB_SSL=false

BASE_URL=http://localhost:3001
FRONTEND_URL=http://localhost:3000

GITHUB_TOKEN=<your-github-token-here>
RESEND_API_KEY=<your-resend-api-key-here>
API_KEY=<your-generated-uuid-here>
